Repository SchweizerischeBundesbahnen/scion-workbench, pull requests merged in 2018-11, with the labels that each got.

#48 Control if workbench part content is capable of being moved in the DO…
  projects/scion/workbench/src/lib/activity-part/activity-part.component.scss
  projects/scion/workbench/src/lib/activity-part/activity-part.component.ts
  projects/scion/workbench/src/lib/content-projection/content-as-overlay.component.html
  projects/scion/workbench/src/lib/content-projection/content-as-overlay.component.scss
  projects/scion/workbench/src/lib/content-projection/content-as-overlay.component.ts
  projects/scion/workbench/src/lib/content-projection/content-host-ref.service.ts
  projects/scion/workbench/src/lib/content-projection/content-projection-context.service.ts
  projects/scion/workbench/src/lib/content-projection/mixins.scss
  projects/scion/workbench/src/lib/content-projection/template-host-overlay.directive.ts
  projects/scion/workbench/src/lib/remote-site/iframe-host-ref.service.ts
  projects/scion/workbench/src/lib/remote-site/remote-site.component.html
  projects/scion/workbench/src/lib/remote-site/remote-site.component.scss
  projects/scion/workbench/src/lib/remote-site/remote-site.component.ts
  projects/scion/workbench/src/lib/routing/routing-params.constants.ts
  projects/scion/workbench/src/lib/view-part-sash-box/view-part-sash-box.component.scss
  projects/scion/workbench/src/lib/view-part/view-part.component.scss
  projects/scion/workbench/src/lib/view/view.component.scss
  projects/scion/workbench/src/lib/view/view.component.ts
  projects/scion/workbench/src/lib/workbench-layout.service.ts
  projects/scion/workbench/src/lib/workbench.component.html
  projects/scion/workbench/src/lib/workbench.component.scss
  projects/scion/workbench/src/lib/workbench.component.ts
  projects/scion/workbench/src/lib/workbench.mixins.scss
  projects/scion/workbench/src/lib/workbench.module.ts
  projects/scion/workbench/src/public_api.ts
Labels: Breaking Change, bug, comp: workbench, comp: workbench-application-platform

#49 Disable vertical scrolling in workbench viewtab bar (#33)
  projects/scion/workbench/src/lib/view-part/view-tab/view-tab.component.scss
Labels: L&F, bug, comp: workbench

#50 Use CDK overlay for the dropdown showing hidden view tabs (#42)
  projects/scion/workbench/src/lib/searchfield/searchfield.component.html
  projects/scion/workbench/src/lib/searchfield/searchfield.component.scss
  projects/scion/workbench/src/lib/searchfield/searchfield.component.ts
  projects/scion/workbench/src/lib/ui/viewport/viewport.component.ts
  projects/scion/workbench/src/lib/view-part/view-list-button/view-list-button.component.ts
  projects/scion/workbench/src/lib/view-part/view-list/view-list.component.html
  projects/scion/workbench/src/lib/view-part/view-list/view-list.component.scss
  projects/scion/workbench/src/lib/view-part/view-list/view-list.component.ts
  projects/scion/workbench/src/lib/view-part/view-part.component.html
  projects/scion/workbench/src/lib/view-part/view-part.component.scss
  projects/scion/workbench/src/lib/view-part/view-part.component.ts
  projects/scion/workbench/src/lib/view-part/view-tab/view-tab.component.html
  projects/scion/workbench/src/lib/view-part/view-tab/view-tab.component.scss
  projects/scion/workbench/src/lib/view-part/view-tab/view-tab.component.ts
  projects/scion/workbench/src/lib/view-part/workbench-view-part.service.ts
  projects/scion/workbench/src/lib/workbench.constants.scss
  projects/scion/workbench/src/lib/workbench.module.ts
  projects/scion/workbench/src/theme/_theming.scss
Labels: Code Cleanup, L&F, comp: workbench

#51 Continue scrolling in custom scrollbars even when the cursor enters o…
  .travis.yml
  angular.json
  package.json
  projects/scion/mouse-dispatcher/karma.conf.js
  projects/scion/mouse-dispatcher/ng-package.json
  projects/scion/mouse-dispatcher/package.json
  projects/scion/mouse-dispatcher/src/lib/mouse-dispatcher.ts
  projects/scion/mouse-dispatcher/src/public_api.ts
  projects/scion/mouse-dispatcher/src/test.ts
  projects/scion/mouse-dispatcher/tsconfig.lib.json
  projects/scion/mouse-dispatcher/tsconfig.spec.json
  projects/scion/mouse-dispatcher/tslint.json
  projects/scion/workbench/package.json
  projects/scion/workbench/src/lib/remote-site/remote-site.component.ts
  projects/scion/workbench/src/lib/ui/viewport/scrollbar/scrollbar.component.ts
  tsconfig.json
Labels: L&F, comp: workbench, comp: workbench-application-platform

#52 Use a separate routing navigate command when closing multiple views a…
  projects/scion/workbench/src/lib/defined.util.ts
  projects/scion/workbench/src/lib/routing/wb-router-link.directive.ts
  projects/scion/workbench/src/lib/routing/workbench-router.service.ts
  projects/scion/workbench/src/lib/spec/route-resolve.spec.ts
  projects/scion/workbench/src/lib/spec/router-navigate.spec.ts
  projects/scion/workbench/src/lib/spec/view-part-grid.component.spec.ts
  projects/scion/workbench/src/lib/spec/view.component.spec.ts
  projects/scion/workbench/src/lib/view-part-grid/view-part-grid.model.ts
  projects/scion/workbench/src/lib/view-part/view-part-bar/view-part-bar.component.ts
  projects/scion/workbench/src/lib/view-part/view-part.component.ts
  projects/scion/workbench/src/lib/view-part/view-tab/view-tab.component.ts
  projects/scion/workbench/src/lib/view-part/workbench-view-part.service.ts
  projects/scion/workbench/src/lib/workbench.module.ts
  projects/scion/workbench/src/lib/workbench.service.ts
  projects/scion/workbench/src/public_api.ts
  resources/site/how-to.md
Labels: Deprecation added, bug, comp: workbench

#53 Remove static initializers to be compatible with Angular 6 transpiled…
  projects/scion/workbench/src/lib/activity-part/activity-part.component.ts
Labels: bug

#54 Move 'Workbench.forRoot guard' spec into spec directory and simplify …
  projects/scion/workbench/src/lib/spec/workbench.module.spec.ts
  projects/scion/workbench/src/lib/workbench.module.ts
  projects/scion/workbench/src/lib/workbench.spec.ts
Labels: Code Cleanup, comp: workbench

#55 Extract `sci-dimension-module` into a separate NPM library
  angular.json
  package.json
  projects/scion/dimension/karma.conf.js
  projects/scion/dimension/ng-package.json
  projects/scion/dimension/package.json
  projects/scion/dimension/src/lib/dimension.directive.ts
  projects/scion/dimension/src/lib/dimension.module.ts
  projects/scion/dimension/src/public_api.ts
  projects/scion/dimension/src/test.ts
  projects/scion/dimension/tsconfig.lib.json
  projects/scion/dimension/tsconfig.spec.json
  projects/scion/dimension/tslint.json
  projects/scion/workbench/package.json
  projects/scion/workbench/src/lib/ui/viewport/viewport.component.ts
  projects/scion/workbench/src/lib/ui/viewport/viewport.module.ts
  projects/scion/workbench/src/lib/view-part/view-list/view-list.component.ts
  projects/scion/workbench/src/lib/workbench.module.ts
  projects/scion/workbench/src/public_api.ts
  resources/site/getting-started.md
  resources/site/how-to.md
  tsconfig.json
Labels: Breaking Change, comp: workbench, comp: workbench-application-platform

#69 Do not enter minimize mode when closing views quickly in maximize mode (#24)
  projects/scion/workbench/src/lib/view-part/view-tab/view-tab.component.ts
Labels: bug, comp: workbench
