Repository SchweizerischeBundesbahnen/scion-workbench, pull requests merged in 2019-06, with the labels that each got.

#150 feat: remove support for Angular 7
  projects/app/common/package.json
  projects/scion/dimension/package.json
  projects/scion/viewport/package.json
  projects/scion/workbench-application-platform/package.json
  projects/scion/workbench-application.angular/package.json
  projects/scion/workbench/package.json
Labels: comp: workbench, comp: workbench-application-platform, upgrade

#149 Release/0.0.0 beta.23
  CONTRIBUTING.md
  package-lock.json
  package.json
  projects/app/common/package.json
  projects/scion/dimension/package.json
  projects/scion/mouse-dispatcher/package.json
  projects/scion/viewport/package.json
  projects/scion/workbench-application-platform.api/package.json
  projects/scion/workbench-application-platform/package.json
  projects/scion/workbench-application.angular/package.json
  projects/scion/workbench-application.core/package.json
  projects/scion/workbench/package.json
  resources/site/changelog.md
Labels: comp: workbench, comp: workbench-application-platform, release

#153 fix: remove 'web-animations-js' polyfill from host-app as it breaks t…
  projects/app/workbench-application-platform/host-app/src/polyfills.ts
Labels: comp: workbench-application-platform, demo-app
