Repository SchweizerischeBundesbahnen/scion-workbench, pull requests merged in 2019-03, with the labels that each got.

#117 release: version 0.0.0-beta.18
  package-lock.json
  package.json
  projects/app/common/package.json
  projects/scion/dimension/package.json
  projects/scion/mouse-dispatcher/package.json
  projects/scion/viewport/package.json
  projects/scion/workbench-application-platform.api/package.json
  projects/scion/workbench-application-platform/package.json
  projects/scion/workbench-application.angular/package.json
  projects/scion/workbench-application.core/package.json
  projects/scion/workbench/package.json
  resources/site/changelog.md
Labels: comp: workbench, comp: workbench-application-platform, release

#119 fix: re-export workbench-application-platform.api in workbench-applic…
  projects/scion/workbench-application-platform/src/public_api.ts
Labels: comp: workbench-application-platform

#124 fix: show view tab title of inactive views when reloading the applica…
  projects/e2e/workbench/src/page-object/app.po.ts
  projects/e2e/workbench/src/router.e2e-spec.ts
  projects/scion/workbench/src/lib/workbench-url-observer.service.ts
Labels: bug, comp: workbench, routing

#125 feat: control if an application is allowed to contribute activities
  projects/app/workbench-application-platform/dev-tools-app/src/app/dev-tools/application-view/application-view.component.html
  projects/app/workbench-application-platform/dev-tools-app/src/app/dev-tools/application-view/application-view.component.scss
  projects/scion/workbench-application-platform.api/src/lib/core.model.ts
  projects/scion/workbench-application-platform.api/src/lib/manifest-registry.model.ts
  projects/scion/workbench-application-platform/src/lib/core/application-registry.service.ts
  projects/scion/workbench-application-platform/src/lib/core/metadata.ts
  projects/scion/workbench-application-platform/src/lib/manifest-capability/manifest-registry-intent-handler.service.ts
  resources/site/how-to/workbench-application-platform/how-to-register-applications.md
Labels: comp: workbench-application-platform
