Repository SchweizerischeBundesbahnen/scion-workbench, pull requests merged in 2019-11, with the labels that each got.

#194 release: version 0.0.0-beta.29
  CONTRIBUTING.md
  package-lock.json
  package.json
  projects/app/common/package.json
  projects/scion/dimension/package.json
  projects/scion/mouse-dispatcher/package.json
  projects/scion/viewport/package.json
  projects/scion/workbench-application-platform.api/package.json
  projects/scion/workbench-application-platform/package.json
  projects/scion/workbench-application.angular/package.json
  projects/scion/workbench-application.core/package.json
  projects/scion/workbench/package.json
  resources/site/changelog.md
Labels: release

#204 release: version 0.0.0-beta.30
  CONTRIBUTING.md
  package-lock.json
  package.json
  projects/app/common/package.json
  projects/scion/dimension/package.json
  projects/scion/mouse-dispatcher/package.json
  projects/scion/viewport/package.json
  projects/scion/workbench-application-platform.api/package.json
  projects/scion/workbench-application-platform/package.json
  projects/scion/workbench-application.angular/package.json
  projects/scion/workbench-application.core/package.json
  projects/scion/workbench/package.json
  resources/site/changelog.md
Labels: comp: workbench-application-platform

#206 test: remove fit constraint in spec to run all specs
  projects/scion/dimension/src/lib/dimension.service.spec.ts
Labels: bug, comp: workbench

#208 feat: allow a microfrontend to open a view in a specific view outlet
  projects/scion/workbench-application-platform.api/src/lib/view.model.ts
  projects/scion/workbench-application-platform/src/lib/view-capability/view-intent-dispatcher.service.ts
  projects/scion/workbench-application.angular/src/lib/workbench-router.service.ts
  projects/scion/workbench-application.core/src/lib/router.service.ts
Labels: comp: workbench-application-platform

#210 fix: declare the type `viewref` to be of type `string` instead of a string literal
  projects/scion/workbench-application-platform.api/src/lib/view.model.ts
Labels: comp: workbench-application-platform
