Repository SchweizerischeBundesbahnen/scion-workbench, pull requests merged in 2019-05, with the labels that each got.

#138 Issue/137
  projects/scion/dimension/src/lib/dimension.directive.ts
Labels: bug, comp: workbench

#139 release: version 0.0.0-beta.21
  package-lock.json
  package.json
  projects/app/common/package.json
  projects/scion/dimension/package.json
  projects/scion/mouse-dispatcher/package.json
  projects/scion/viewport/package.json
  projects/scion/workbench-application-platform.api/package.json
  projects/scion/workbench-application-platform/package.json
  projects/scion/workbench-application.angular/package.json
  projects/scion/workbench-application.core/package.json
  projects/scion/workbench/package.json
  resources/site/changelog.md
Labels: comp: workbench, comp: workbench-application-platform, release

#140 docs: refine release guidelines
  CONTRIBUTING.md
Labels: documentation

#145 release: version 0.0.0-beta.22
  CONTRIBUTING.md
  package-lock.json
  package.json
  projects/app/common/package.json
  projects/scion/dimension/package.json
  projects/scion/mouse-dispatcher/package.json
  projects/scion/viewport/package.json
  projects/scion/workbench-application-platform.api/package.json
  projects/scion/workbench-application-platform/package.json
  projects/scion/workbench-application.angular/package.json
  projects/scion/workbench-application.core/package.json
  projects/scion/workbench/package.json
  resources/site/changelog.md
Labels: comp: workbench, comp: workbench-application-platform, release
